.bs {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: clamp(10px, 5vw, 1.7vw);
}
a {
  text-decoration: none;
  color: deepskyblue;
}
a:hover {
  text-decoration: underline;
}
table {
  border-collapse: collapse;
}
tr:hover {
  background: rgba(255, 255, 255, 0.2);
}
.gr {
  color: lime;
}
.rd {
  color: red;
}
.bt {
  background: blue;
}
.bt:hover {
  background: blue;
}
.wf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cp {
  padding: 3vmin 2vmin;
  width: 50vw;
  overflow-x: hidden;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1.5vw 2.3vw;
  scrollbar-width: 2px;
}
body::-webkit-scrollbar {
  width: 0;
}
.fh {
  display: flex;
  justify-content: space-between;
  width: 63%;
  transition: 0.8s;
}
.dr {
  display: flex;
  align-items: center;
}
.dm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  font-size: clamp(8px, 3.5vw, 50px);
  color: black;
  border-radius: 50%;
  background: white;
  transition: 0.8s;
}
.dm::after {
  content: '';
  position: absolute;
  width: 7.8vw;
  height: 7.8vw;
  background: linear-gradient(45deg, blue, red);
  border-radius: 50%;
  z-index: -1;
  animation: aff 2s linear infinite;
}
@keyframes aff {
  100% {
    transform: rotate(360deg);
  }
}
.tx {
  font-weight: bold;
  font-size: clamp(10px, 2.5vw, 200px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}
.email {
  font-size: clamp(5px, 1.5vw, 15px);
  font-weight: initial;
}
.md {
  margin-top: 10px;
  display: flex;
}
.wy {
  width: 50%;
  transition: 0.8s;
}
.lf {
  margin-top: 20px;
}
.fm {
  color: rgb(175, 175, 175);
  font-size: clamp(8px, 1.5vw, 17px);
}
.fm1 {
  font-weight: bold;
  font-size: clamp(5px, 1.5vw, 17px);
}
.act {
  padding: 3px;
  background: lime;
  color: rgb(222, 255, 222);
  border-radius: 3px;
}
.arx {
  padding: 3px;
  background: red;
  color: rgb(255, 222, 222);
  border-radius: 3px;
}
.fl {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ws {
  display: flex;
  justify-content: end;
  padding-top: 20px;
  width: 100%;
}
.bbt {
  padding: 1vw;
  background: blue;
  border: none;
  border-radius: 8px;
  font-size: clamp(5px, 1.5vw, 17px);
  transition: 0.8s;
}
@media screen and (max-width: 100vmin) {
  .fh {
    width: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .dm {
    width: 10vw;
    height: 10vw;
  }
  .wy {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .ws {
    justify-content: center;
  }
  .dm::after {
    width: 11vw;
    height: 11vw;
  }
}